html,body{
	background : rgb(15,11,0) ;
	color : white ;
	margin:0;
	padding:0;
}

*{font-family: 'Montserrat', sans-serif;}
p{font-family: 'Open Sans', sans-serif;}
a{
	color: white ;
	text-decoration: none;
}

img.centre {
    display: block;
    margin: 0 auto;
}

a:hover{color: rgb(249,177,0);}

h1{
	color: rgb(249,177,0);
	font-size: 24px
	}

.menor{width: 300px;
		height: 225px}

.maior{width: 400px;
height: 300px
}

.black{color: black}

.indent{margin-left: 15px;}

.thin_border{border: 1px solid black;}

.header{
	font-size: 32px;
	padding: 30px;
	margin: auto;
	background: rgb(51,50,46);
	background-size:20%; 
}

.bread{
	font-size: 15px;
	color: rgb(249,177,0);
}

.sub{
	font-size: 24px;
	padding: 15px;
	margin: auto;
}

.row{
	padding: 20px;
	min-width: 1px;
	float:left;
}

.col{
	min-width: 25%;
	border-radius: 10px;
	margin-left: 2.4%
	margin-right:2.4%;
	display: inline-block;
	padding-top: 25px;
	/*background-color: red;*/
}

.col:first-child{
	margin-left:0px;
}
.col:last-child{
	margin-right: 0px;
}

.col.one{width: 25%;
float: left;}

.col.three{
	width: 25%;
	float: right;
	padding-top: 0px;
}

.col.four{width: 30%;
vertical-align: top;}

.col.five{width: 47%;
float: left}

.col.six{width: 85%;
}


.flut{float: left;}
.center{text-align: center;}
.aright{text-align: right;}

.vqpx{font-size: 24px;}
.dzpx{font-size:12px;}

#primary_nav_wrap{
font-size: 24px;}

#primary_nav_wrap ul{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:30
}

#primary_nav_wrap ul a{
	display:block;
	text-decoration:none;
	line-height:30px;
	padding:0 30px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
	background:rgb(51,50,46);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

#primary_nav_wrap ul li{
	position:relative;
	float:left;
	margin:0;
	padding:0;

}

#primary_nav_wrap ul li:hover{
	background:rgb(51,50,46);

}

#primary_nav_wrap ul ul{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:rgb(51,50,46);
	padding:0


}

#primary_nav_wrap ul ul li{
	float:none;
	width:200px

}

#primary_nav_wrap ul ul a{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul{
	top:0;
	left:100%

}

#primary_nav_wrap ul li:hover > ul{
	display:block


}
#primary_nav_wrap ul li.current-menu-item{
	background:rgb(15,11,0);
}